@model SoNWebApp.Models.UDApplication
@{
    ViewBag.Title = "Upper Division Application Details - ";
}

<style>
    textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
        border: 1px solid #808080 !important;
        box-shadow: none !important;
    }

    input, select, textarea {
        max-width: 100% !important;
    }
</style>

<div class="row">
<div class="panel panel-danger">
    <div class="panel-heading">
      <h2 style="color:white">Upper Division Application Details</h2> 
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <h4>Legal Name</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="margin-top: 20px;">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4 style="margin-top: 50px;">Email</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4 style="margin-top: 50px;">Contact Information</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StreetAddress2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.StreetAddress2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StreetAddress2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HomeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.HomeNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CellNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.CellNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CellNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4 style="margin-top: 50px;">Identification</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.StudentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <h4 style="margin-top: 50px;">Program Options</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-10">
                        <p>Please choose one of the program options below and complete any corresponding required information</p>

                        <p><b>Traditional BSN Program  Applicants are admitted twice a year, Fall & Spring. This is a full time program.</b></p>

                        <p>
                            <b>
                                Traditional BSN Owensboro Campus Program  Identical to the Traditional BSN Program except that all classes and clinical rotation
                                assignments are conducted in Owensboro, Kentucky. Applicants are admitted twice per year, Fall & Spring.
                            </b>
                        </p>


                        <fieldset>
                            <legend style="font-size: medium">Select a Program</legend>
                            @Html.DisplayFor(model => model.Program1, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">What Semester are you applying for?</legend>
                            @Html.DisplayFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>


                <h4 style="margin-top: 50px;">Experience</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-10">
                        <p>
                            Current Courses  Note: Please format each course in the following format, one per line.
                            Course, Credit Hours, Semester, College or University
                            E.g. CHEM 105- Chem for Health Pros, 4, Fall 2010, University of Louisville
                        </p>
                        @Html.DisplayFor(model => model.CurrentCourses, new { @class = "form-control", @rows = 10, @cols = 100 })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            Personal Qualities Essay  Write a story, biography, or narrative describing your personal qualities as they pertain to a successful nursing career.
                            Address your perception of the profession of nursing and how you came to choose this career. Describe your short and long term nursing career goals.
                            Complete in 500 words or less.
                        </p>
                        @Html.DisplayFor(model => model.PersonalQualEssay, new { @class = "form-control", @rows = 10, @cols = 40 })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            Nursing or health care related experience
                        </p>
                        @Html.DisplayFor(model => model.NurseExperience, new { @class = "form-control", @rows = 10, @cols = 40 })
                    </div>
                </div>

                <h4 style="margin-top: 50px;">Legal Information</h4>
                <hr />
                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">1. Have you ever been arrested for, charged with, or convicted of any crime other than a minor traffic violation?</legend>
                            @Html.DisplayFor(model => model.Legal1, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">2. Have you ever been dismissed, suspended, or otherwise disciplined by a college, university, or a graduate/professional school for any reason?</legend>
                            @Html.DisplayFor(model => model.Legal2, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">3. Have you ever been other than honorably discharged from any armed service of the U.S.?</legend>
                            @Html.DisplayFor(model => model.Legal3, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">4. Have you ever been discharged from employment, disciplined, or asked to resign from employment or any service program (VISTA, Peace Corps, etc.) for reasons of dishonesty, malfeasance or any other reason reflecting on your character?</legend>
                            @Html.DisplayFor(model => model.Legal4, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">5. Have you ever been charged with or found guilty of sexual harassment or racial, ethnic, or gender bias in any proceeding?</legend>
                            @Html.DisplayFor(model => model.Legal5, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">6. Have you ever been subject to disciplinary or legal action related to use of drugs, including alcohol?</legend>
                            @Html.DisplayFor(model => model.Legal6, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            If you answered YES to any question(s) above, please provide an explanation below.
                        </p>
                        @Html.DisplayFor(model => model.ExplainLegal, new { @class = "form-control", @rows = 10, @cols = 40 })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <fieldset>
                            <legend style="font-size: medium">
                                I hereby declare that the information furnished above is completed and accurate to the best of my knowledge.
                                I also authorize the release of information from any agency or individuals, who may have additional information on me.
                            </legend>
                            @Html.DisplayFor(model => model.ConfirmLegal, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>

                <p style="margin-top: 20px;">
                    <b>If you do not receive</b> an email within 5 working days indicating that we have received application materials, please call us at (502) 852-1196.
                </p>
                <p>
                    By submitting this form, I hereby confirm that the information above is complete and accurate to the best of my knowledge. I also authorize the release of
                    information by any agency or individuals, who may have additional information pertaining to me that is relevant to this application.
                </p>

                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        }
            </div> 
        

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


