@model SoNWebApp.Models.POS
<center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <p style="font-weight: 700;">Fall 2017</p>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Course1, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10" style="padding-left:120px">
                    @Html.EditorFor(model => model.Course1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course2, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course3, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course4, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course4, "", new { @class = "text-danger" })
                </div>
            </div>
            <p style="font-weight: 700;">Spring 2018</p>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Course5, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course5, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course6, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course6, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course6, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course7, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course7, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course7, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course8, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course8, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course8, "", new { @class = "text-danger" })
                </div>
            </div>
            <p style="font-weight: 700;">Fall 2018</p>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Course9, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course9, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course9, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course10, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course10, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course10, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course11, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course11, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course11, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Course12, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10"style="padding-left:120px">
                    @Html.EditorFor(model => model.Course12, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Name" } })
                    @Html.ValidationMessageFor(model => model.Course12, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</center>