@model SoNWebApp.Models.POS


<div class="panel panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF">Program of Study Delete</h3>
    </div>
    <div class="panel-body">

        <h3>Are you sure you want to delete this?</h3>
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Student.StudentNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.StudentNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course6)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course6)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course7)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course8)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course8)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course9)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course9)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course10)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course10)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course11)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course11)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course12)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course12)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
</div>
