@model SoNWebApp.Models.POS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course12)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
