@model IEnumerable<SoNWebApp.Models.Student>

<style>
    .column {
    float: left;
    position: relative;
    width: inherit;
  
    /*/*for demo purposes only */
    /*background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;*/*/
}

.column-offset-1 {
    left: 0%;
}
.column-offset-2 {
    left: 8%;
}

.column-offset-3 {
    left: 15%;
}
</style>
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel">
    <div class="panel-body">
        <div class="column column-one column-offset-1">
            <table class="table" border="1">
                <tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.StudentNumber)
                        </b>
                    </td>
                    <td>

                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.StudentNumber)
                        }
                    </td>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.FirstName)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.LastName)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.LastName)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Address)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.Address)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.City)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.City)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.State)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.State)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.EnrollmentDate)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Standing)
                        </b>
                    </td>
                    <td>
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.Standing)
                        }
                    </td>
                </tr>
            </table>
            @foreach (var item in Model)
            {
                <div class="bottom-right">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            }

        </div>
        <div class="column column-two column-offset-2">
            
                <table border="1">
                    <tr>
                        <td>
                            <b>
                                <strong>To Do's</strong>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>

                            </b>
                        </td>
                    </tr>
                </table>
            <div>
                <p>
                    Link to BSN program<br />
                    <a href="https://louisville.edu/nursing/bsn">https://louisville.edu/nursing/bsn</a>
                </p>
                <p>
                    Link to current students<br />
                    <a href="https://louisville.edu/nursing/current-students">https://louisville.edu/nursing/current-students</a>
                </p>
            </div>
        </div>
        <div class="column column-three column-offset-3">
            <div>
                <p>
                    Link to BSN program<br />
                    <a href="https://louisville.edu/nursing/bsn">https://louisville.edu/nursing/bsn</a>
                </p>
                <p>
                    Link to current students<br />
                    <a href="https://louisville.edu/nursing/current-students">https://louisville.edu/nursing/current-students</a>
                </p>
            </div>
        </div>
    </div>
</div>