@model IEnumerable<SoNWebApp.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button class="btn btn-primary col-md-2 pull-left" style="background:#AD0000; margin-bottom: 5px;" onclick="location.href='@Url.Action("Create", "Student")'">Create New</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Standing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampusID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Address)
            </td>
            <td>
                @Html.DisplayFor(model => item.City)
            </td>
            <td>
                @Html.DisplayFor(model => item.State)
            </td>
            <td>
                @Html.DisplayFor(model => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(model => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Standing)
            </td>
            <td>
                @Html.DisplayFor(model => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(model => item.CampusID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Advisor", new { ID = item.ID }) 
                @Html.ActionLink("Details", "Details", new { ID = item.ID })
                @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
            </td>
        </tr>
    }

</table>