@model IEnumerable<SoNWebApp.Models.Compliance>
@{
    ViewBag.Title = "Compliance Report - ";
}

@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}


<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
            <h2 style="text-align:center;">Incompliance Report</h2>
        </div>

        <div class="panel-body">
            <table class="table" style="color: #000000;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.StudentNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Student.StudentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Student.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Student.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Student.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>