@model IEnumerable<SoNWebApp.Models.Student>

@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
            <h2 style="text-align:center;">CRM</h2>
        </div>
    </div>
</div>

<button class="btn btn-primary col-md-2 pull-left" style="background:#AD0000; margin-bottom: 5px;" onclick="location.href='@Url.Action("Create", "Student")'">Create New</button>
<div class="row" style="margin-left:700px;">
@using (Html.BeginForm())
{
    <p>
        Search by name or number: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
    </div>
<div class="row">
    <table class="table" style="color: #000000;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </th>
            <th>
                @Html.ActionLink("LastName", "CRM", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standing)
            </th>
            <th>
                @Html.ActionLink("GPA", "CRM", new { sortOrder = ViewBag.GPASortParm })
            </th>
            <th></th>
           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => item.City)
                </td>
                <td>
                    @Html.DisplayFor(model => item.State)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Standing)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GPA)
                </td>
             
                <td>
                    @Html.ActionLink("Edit", "Edit", "Student", new {ID = item.ID }, false)
                    @Html.ActionLink("Details", "Details", "Student", new { ID = item.ID }, false)
                    @Html.ActionLink("Delete", "Delete", "Student", new { ID = item.ID }, false)
                </td>
            </tr>
        }
    </table>
</div>