@model IEnumerable<SoNWebApp.Models.Student>
@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}


<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
            <h2 style="text-align:center;">GPA Report</h2>
        </div>
    </div>
</div>
<div class="row">
    <table class="table" style="color: #000000;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GPA)
                </td>
            </tr>
        }
    </table>
</div>