@model IEnumerable<SoNWebApp.Models.Student>

@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
            <h2 style="text-align:center;">Student Report</h2>
        </div>
    </div>
</div>
<div class="col-md-12">
<table class="table" style="margin-left: auto; margin-right: auto; color: #000000;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <tr>
            <td>
                @foreach (var item in Model)
            {
                    @Html.DisplayFor(modelitem => item.StudentNumber) }
            </td>
            <td>
                @foreach (var item in Model)
            {
                    @Html.DisplayFor(model => item.FirstName) }
            </td>
            <td>
                @foreach (var item in Model)
            {
                    @Html.DisplayFor(model => item.MiddleName) }
            </td>
            <td>
                @foreach (var item in Model)
            {
                    @Html.DisplayFor(model => item.LastName) }
            </td>

            <td>
                @foreach (var item in Model)
            {
                    @Html.DisplayFor(model => item.GPA) }
            </td>
        </tr>
        
    <tr>

        </tr>
</table>
 </div>