@model IEnumerable<SoNWebApp.Models.Student>

@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}
<div class="row">

        <div class="list-inline">
            <ul class="list-inline">
                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href=""><font color="white">Post Grades </font></a></div></li>
                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href=""><font color="white">Import Roster </font></a></div></li>
                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href=""><font color="white">Graduate Appplications </font></a></div></li>
                </ul>
            </div>
        

        <div class="panel-body">
            <table class="table" style="color: #000000; ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GPA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgramID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Standing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Petition)
                    </th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.StudentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.GPA)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ProgramID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Standing)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Petition)
                        </td>
                    </tr>
                }
            </table>
        </div>
    <div class="col-md-3">
        <h2 style="text-align:center;">To-Do List</h2>
        <table class="table">
            <tr>
            <th>
                Message
            </th>
                </tr>
        </table>
    </div>
</div>