<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title University of Louisville School of Nursing</title>








    <div class="row">
    <div class="navbar navbar-inverse navbar-fixed-top col-md-12">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/UofLSONLogo.png" alt="Louisville" /></a>
            </div>

            <div class="navbar-collapse collapse" style="font-weight:bold;">
                <ul class="nav navbar-nav">
                    <li>
                       @{ if (!Context.User.Identity.IsAuthenticated)
                           {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 15px; background-color: #AD0000; margin-left: 40px; font-size: medium; border-color: #AD0000;">
                                Donor
                            </button>
                            <ul class="dropdown-menu" style="font-size: medium; text-align: center">
                                <li><p><a class="col-md-12" href="https://www.paypal.com">Donate Now &raquo;</a></p></li>
                                <li><p><a class="col-md-12" href="http://louisville.edu/nursing/giving">Learn More &raquo;</a></p></li>
                            </ul>

                        </div>
                           }}
                        @{
                            if (User.IsInRole("SuperAdmin"))
                            {

                                <div class="list-inline">
                                    <ul class="list-inline">
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; margin-left: 40px; border-color: #AD0000;"><a href="/Admin/Home"><font color="white">Home</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Calendar"><font color="white">Calendar</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/CRM"><font color="white">CRM</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Reports"><font color="white">Reports</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/ManageUsers"><font color="white">Manage Users</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/ManageAlerts"><font color="white">Manage Alerts</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/DatabaseAdmin"><font color="white">Db Admin</font></a></div></li>
                                    </ul>
                                </div>



                            }}
                        @{
                            if (User.IsInRole("Admin"))
                            {

                                <div class="list-inline">
                                    <ul class="list-inline">
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; margin-left: 40px; border-color: #AD0000;"><a href="/Admin/Home"><font color="white">Home</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Calendar"><font color="white">Calendar</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/CRM"><font color="white">CRM</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Reports"><font color="white">Reports</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/ManageUsers"><font color="white">Manage Users</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/ManageAlerts"><font color="white">Manage Alerts</font></a></div></li>
                                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/DatabaseAdmin"><font color="white">Db Admin</font></a></div></li>
                                    </ul>
                                </div>



                            }}
                
            @{
                if (User.IsInRole("Advisor"))
                {         <div class="list-inline">
                    <ul class="list-inline">
                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; margin-left: 40px; border-color: #AD0000;"><a href="/Advisor/StudentRecords"><font color="white">Student Records</font></a></div></li>
                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/Reports"><font color="white">Reports</font></a></div></li>
                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/CRM"><font color="white">CRM</font></a></div></li>
                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/Calendar"><font color="white">Calendar</font></a></div></li>
                        <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/Search"><font color="white">Search</font></a></div></li>
                    </ul>
                </div>



                }}
            @{
                if (User.IsInRole("Student"))
                {

                    <div class="list-inline">
                            <ul class="list-inline">
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; margin-left: 40px; border-color: #AD0000;"><a href="/Student/Default"><font color="white">Home</font></a></div></li>
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Student/ClinicalCompliance"><font color="white">Clinical Compliance</font></a></div></li>
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Student/ProgramOfStudy"><font color="white">Program of Study</font></a></div></li>
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Student/Alerts"><font color="white">Alerts</font></a></div></li>
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Student/Advisor"><font color="white">Advisor</font></a></div></li>
                                <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Student/Calendar"><font color="white">Calendar</font></a></div></li>
                            </ul>
                        </div>



                }}
                       
            </ul>
                @Html.Partial("_LoginPartial")


        </div>

                </div>
        </div>
    </div>
  </head>

<body>
    <div class="row">
        <div class="container body-content">
            @RenderBody()
        </div>
        </div>

        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


</body>
</html>
@*<footer>
    <div class="row" style="height: 30px; width: 100%; color: black; position:absolute; bottom:0;">
            <p> &copy;@DateTime.Now.Year - University of Louisville School of Nursing</p>
    </div>

</footer>*@


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

