<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - University of Louisville School of Nursing</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
     <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/Images/Louisville.png" alt="Louisville" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px; margin-left: 30px; background-color: #AD0000">
                                    Student
                                </button>
                                <ul class="dropdown-menu" style="margin-left: 30px">
                                    <li>@Html.ActionLink("Calendar", "Index", "Event")</li>
                                    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px; margin-right: 10px; background-color: #AD0000">
                                    Staff
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Students", "Index", "Student")</li>
                                    <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                                    <li>@Html.ActionLink("Absence Management", "Index", "Absence")</li>
                                    <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - University of Louisville School of Nursing</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
