@model SoNWebApp.Models.Compliance

@{
    ViewBag.Title = "Compliance Details - ";
}

<div class="panel panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF;">Compliance Details</h3>
    </div>
    <div class="panel-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Document.DocumentType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Document.DocumentType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExpirationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsExpired)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsExpired)
                </dd>

            </dl>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Advisor") || User.IsInRole("SuperAdmin"))
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        @if (User.IsInRole("Student"))
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to Compliance", "ClinicalCompliance", "Student", false, false)
            </div>
        }
        </div>
</div>